* {
  box-sizing: border-box;
}

body {
  color: #343434;
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  margin: 10px;
}

h1,
h2 {
  font-family: 'Bree Serif', serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header {
  height: 460px;
  background: linear-gradient(#009fe1, #3acec2), 
              url('../img/bg.jpg') no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
}

.text-left {
  text-align: right;
}

.text-right {
  text-align: left;
}
.img-left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start; 
}
.img-right {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end; 
  margin: 0;
}

.img-culture {
  display: flex;
  align-items: flex-start; 
  margin: 0;
  height:450px;
  width: 100%;
}
header h1 {
  color: #fff;
  font-size: 4.8em;
  letter-spacing: 1px;
  margin: 0;  
}

header p {
  font-size: 1.25em;
  margin: 0;
  
}

.text {
  margin: 10px;
}
footer {
  padding: 2em 0 0;
  height: 100px;
  background-color: #eee;
  margin-top: 3.5em;
  text-align: center;
}

.inner {
  padding: 0.5em 1em;
}

.intro {
  margin: auto;
  padding: 1em 1em 3em;
}

.main-nav {
  margin-top: 1em;
  display: flex;
  flex-direction: column;   
  text-align: right;;
  a {
    color: white;
    text-decoration: none;
  }
  :hover {
    text-decoration: underline;
  }
}

.right {
  margin-top: 10em;
  display: grid;
  grid-template-columns: 50% 50%;
}

.card h1 {
  color: #2aa2bd; 
  margin: 0.35em 0 0;
  line-height: 1.25;
}
.btn-info {
  color: #fff;
  display: inline-block;
  font-size: 0.85em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  border-radius: 0.35em;
  background-color: #2fa2bb;  
  margin-top: auto;
  border: 1pt solid black;
}


@media only screen and (min-width: 375px) {
  header {
    height: 300px;
  }
}