$margin: 10%;
$imgFull: 100%;
$zero: 0;

* {
  box-sizing: border-box;
}

body {
  color: #343434;
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  margin: 10px;
}

h1,
h2 {
  font-family: 'Bree Serif', serif;
}

ul {
  list-style-type: none;
  padding: $zero;
  margin: $zero;
}
header {
  height: 460px;
  background: linear-gradient(#009fe1, #3acec2), 
              url('../img/bg.jpg') no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
}

.text-left {
  text-align: right;
  margin: $zero;
  margin-left: 30%;
}

.text-right {
  text-align: left;
  margin: $zero;
  margin-right: 30%;
}
.img-left {
  width: $imgFull;
  height: $imgFull;
  display: flex;
  align-items: flex-start; 
}
.img-right {
  width: $imgFull;
  height: $imgFull;
  display: flex;
  align-items: flex-end; 
  margin: $zero;
}

div.text {
  margin: $zero;
}
.img-culture {
  display: flex;
  align-items: flex-start; 
  margin: $zero;
  height:450px;
  width: $imgFull;
}
header h1 {
  color: #fff;
  font-size: 4.8em;
  letter-spacing: 1px;
  margin: $zero;
}

header p {
  font-size: 1.25em;
  margin: $zero;
  
}

footer {
  padding: 2em 0 0;
  height: 100px;
  background-color: #eee;
  margin-top: 3.5em;
  text-align: center;
}

.inner {
  padding: 0.5em 1em;
}

.intro {
  margin: auto;
  padding: 1em 1em 3em;
}

.main-nav {
  font-size: 2em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;   
  text-align: right;;
  a {
    color: white;
    text-decoration: none;
  }
  :hover {
    text-decoration: underline;
  }
}

.right {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px;
}

.card h1 {
  color: #2aa2bd; 
  margin: 0.35em 0 0;
  line-height: 1.25;
}
.btn-info {
  color: #fff;
  display: inline-block;
  font-size: 0.85em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  border-radius: 0.35em;
  background-color: #2fa2bb;  
  margin-top: auto;
  border: 1pt solid black;
}


@media only screen and (max-width: 375px) {
  header {
    height: 300px;
    h1 {
      margin-top: 40px;
      font-size: 22pt;
      }
    p {
      font-size: 1em;  
    }
    }
  .img-culture {
    margin: $zero;
    height:200px;
  }
  .right {
    margin-top: 3em;
  }
  p {
    font-size: .3em;
  }
  .img-left {
    height: 200px;
  }
  .img-right {
    height: 200px;
    margin: $zero;
  }
  .material-icons {
    font-size: 20px;
  }
  .btn-info {
    padding: 0.10em .5em;
    border-radius: 0.35em;
    font-size: 8px;
  }
  h1 {
    font-size: 1em;
  }
  footer {
    height: 50px;
    padding: .8em;
  }
  div.text {
    margin: $zero;
  }
  .text-left {
    margin-left: 10%;
  }
  .text-right {
    margin-right: 10%;
  }
}

@media only screen and (max-width: 414px) {
  header {
    height: 300px;
    h1 {
      margin-top: 40px;
      font-size: 22pt;
      }
    p {
      font-size: 1em;  
    }
    .main-nav {
      font-size: 1em;
    }
    }
  .img-culture {
    margin: $zero;
    height:200px;
  }
  .right {
    margin-top: 3em;
  }
  p {
    font-size: .3em;
  }
  .img-left {
    height: 200px; 
  }
  .img-right {
    height: 200px;
    margin: $zero;
  }
  .material-icons {
    font-size: 20px;
  }
  .btn-info {
    padding: 0.10em .5em;
    border-radius: 0.35em;
    font-size: 8px;
  }
  h1 {
    font-size: 1em;
  }
  footer {
    height: 50px;
    padding: .8em;
  }
  div.text {
    margin: $zero;
  }
  .text-left {
    margin-left: $margin;
  }
  .text-right {
    margin-right: $margin;
  }
}